.logContainer{
    height: 100vh;
    width: 100vw;
    max-width: 1296px;

    background: url("../../assets/Login-background.png");
    position: absolute;
    top: 0;
    padding-top: 20px;
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: -1;

}