.profil-container {
	min-width: 350px;
	height: fit-content;
	display: flex;
	margin: 2em 10px;
	padding: 2em;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	align-content: center;
	background-color: white;
	border-radius: 5px;
	& form {
		flex-direction: column;
		align-items: center;
		justify-content: center;
		align-content: center;
		gap: 5px;
		.inputfile {
			border: 1px solid #ccc;
			display: inline-block;
			padding: 6px 12px;
			cursor: pointer;
		}
	}
}

.update-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	align-content: center;
}

img.roundImage {
	width: 150px;
	height: 150px;
	margin: 20px auto;
	object-position: center;
	object-fit: cover;
	border-radius: 300px;
}

.top-part {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	align-content: center;
}

.upload-pic {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 20px;
}
